<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<h2 style="text-align:center">진료 정보 요청 내역</h2>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
   	 	<!-- Form Elements -->
		<div class="col-lg-12">
			<div class="block">
         
       			<div class="block-body">
 					
 					<!-- yochengAdminList 검색 -->
					<form action="yochengSusinHospitalLis" method="post">
						<select name="sk1">
							<option value="yochengCode">요청 코드</option>
							<option value="yochengoutHospitalId" hidden="hidden">요청 보내는 병원 고유번호</option>
							<option value="yochengoutHospitalName">요청 보내는 병원 이름</option>
							<option value="yochenginHospitalId" hidden="hidden">요청 받는 병원 고유번호</option>
							<option value="yochenginHospitalName">요청 받는 병원 이름</option>
							<option value="patientId">환자 고유번호</option>
							<option value="patientName">환자 이름</option>
							<option value="yochengJinlyoCode">요청 진료 코드</option>										
						</select>
						<input type="text" name="sv1">
						<button type="submit">검색</button>						
					</form>				
					
	
					<!-- yochengAdminList 리스트 -->
					<table class="table">
						<thead>
							<tr>
						        <th style="white-space:nowrap;">요청 코드</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" hidden="hidden">요청 보내는 병원 고유번호</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">요청 보내는 병원 이름</th>								
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" hidden="hidden">요청 받는 병원 고유번호</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">요청 받는 병원 이름</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">환자 고유번호</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">환자 이름</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">요청 진료 코드</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">요청 일자</th>
								<th style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">요청 사유</th>
		      				</tr>
						</thead>
						<!-- DB 값 -->
						<tbody>
							<tr th:each="list:${yochengAdminList}"> 
								<td th:text="${list.yochengCode}"></td>
								<td th:text="${list.yochengoutHospitalId}" hidden="hidden"></td>
								<td th:text="${list.yochengoutHospitalName}"></td>
								<td th:text="${list.yochenginHospitalId}" hidden="hidden"></td>
								<td th:text="${list.yochenginHospitalName}"></td>
								<td th:text="${list.patientId}"></td>
								<td th:text="${list.patientName}"></td>
								<td th:text="${list.yochengJinlyoCode}"></td>
								<td th:text="${list.yochengDate}"></td>
								<td th:text="${list.yochengSayu}"></td>
							</tr>
						</tbody>
					</table>
					<div class="line"></div>
				</div>
			</div>
		</div>
	</div>
	<!--************메인 컨텐트 END************ -->	
</th:block>
</html>