<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">1
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<h2 style="text-align:center">알러지 및 부작용 리스트</h2>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
	   	  <!-- Form Elements -->
              <div class="col-lg-12">
                <div class="block">
                  
                  <div class="block-body">
                    <form action="/allergyhList" method="post">
					<select name="sk">			
						<option value="patientId">환자고유번호</option>																			
					</select>
					<input type="text" name="sv">
					<input type="date" name="start_date">~
     				<input type="date" name="finish_date">
					<input type="hidden" name="hospitalId" th:value="${param?.hospitalId?.toString()}">
					<button type="submit" class="btn btn-secondary">검색</button>
				</form>
                     <table class="table">
                      <thead>
		<tr>
			<th style="white-space:nowrap;">알러지 및 부작용 코드</th>
							<th style="white-space:nowrap;">병원고유번호</th>
							<th style="white-space:nowrap;">환자고유번호</th>
							<th style="white-space:nowrap;">알러지 및 부작용 요인</th>
							<th style="white-space:nowrap;">알러지 및 부작용요인 코드</th>
							<th style="white-space:nowrap;">알러지 및 부작용명</th>
							<th style="white-space:nowrap;">반응</th>
							<th style="white-space:nowrap;">담당의</th>
							<th style="white-space:nowrap;">알러지 및 부작용 등록일자</th>
							<th style="white-space:nowrap;">등록자 고유번호</th>
							<th style="white-space:nowrap;">등록일자</th>
		</tr>
		</thead>
						<tbody>
		<tr th:each="list:${allergyhList}">
			<td th:text="${list.aseCode}"></td>
			<td th:text="${list.hospitalId}"></td>
			<td th:text="${list.patientId}"></td>
			<td th:text="${list.asemFactor}"></td>
			<td th:text="${list.asemfCode}"></td>
			<td th:text="${list.aseName}"></td>
			<td th:text="${list.aseReaction}"></td>
			<td th:text="${list.pDoctor}"></td>
			<td th:text="${list.asedTime}"></td>
			<td th:text="${list.adminId}"></td>
			<td th:text="${list.aserDate}"></td>
			<td>
				<a th:href="@{/allergyRegist(patientId=${list.patientId})}">시스템DB전송등록</a>
			</td>
			
		</tr>
	
	</tbody>
                    </table>
                      <div class="line"></div>
                    </div>
                </div>
              </div>
            </div>
          <!--************메인 컨텐트 END************ -->	
</th:block>
</html>