<!DOCTYPE html>
<!--  계정 오류로 인한 push -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">
		<!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
			<div class="container-fluid"></div>
			<!-- **************윗상단 메인 메뉴END ************** -->
			<!--************메인 컨텐트 ************ -->
		</div>

		<div class="col-lg-12">
			<div class="block">

				<div class="block-body">
					<div class="container">
					<form action="/hospitalList" method="post">
						<select name="sk2">
							<option value="hospitalId">아이디</option>
							<option value="hName">병원명</option>
						</select> <input type="text" name="sv2">
						<button type="submit">검색</button>
					</form>

					<table class="table">
						<thead>
							<tr>
								<th>아이디</th>
								<th>비밀번호</th>
								<th>병원 이름</th>
								<th>등록자</th>
								<th>등록 일자</th>
								<th>관리</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="hl : ${hospitalList}">
								<td th:text="${hl.h_id}"></td>
								<td th:text="${hl.h_pw}"></td>
								<td th:text="${hl.h_name}"></td>
								<td th:text="${hl.a_id}"></td>
								<td th:text="${hl.hr_date}"></td>
								<td><a th:href="@{/modifyHospital(hospitalId=${hl.h_id})}">
										<button type="submit" class="btn btn-secondary"
											style="float: right;">수정</button>
								</a> <a th:href="@{/delHospital(hospitalId=${hl.h_id})}">
										<button type="submit" class="btn btn-secondary"
											style="float: right;">삭제</button>
								</a></td>
							</tr>
						</tbody>
					</table>
					</div>
					<div class="line"></div>
				</div>
			</div>
		</div>
	</div>
</th:block>
</body>
</html>

