<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper namespace 설정 -->  
<mapper namespace="com.cafe24.oneteammds.yochengmapper.YochenghospitalMapper">
	
	<insert id="yochengHinsert" parameterType="com.cafe24.oneteammds.yochengvo.Yochenghospital"> 
	<!-- yochenglist 테이블에 DB값 생성 쿼리문 -->
	INSERT INTO yochenglist(
		
		yochengCode, 
		yochengoutHospitalId, 
		yochengoutHospitalName, 
		yochenginHospitalId, 
		yochenginHospitalName, 
		patientId, patientName, 
		yochengJinlyoCode, 
		yochengDate, 
		yochengSayu)
	
	VALUES (
	
		#{yochengCode}, 
		#{yochengoutHospitalId},
		#{yochengoutHospitalName}, 
		#{yochenginHospitalId}, 
		#{yochenginHospitalName}, 
		#{patientId}, 
		#{patientName}, 
		#{yochengJinlyoCode}, 
		NOW(), 
		#{yochengSayu})

	</insert>
	
	<select id="yochengHList" resultType="com.cafe24.oneteammds.yochengvo.Yochenghospital">
	<!-- 특정 아이디 로그인시 해당 list select 조회 컬럼  -->
		SELECT * FROM 
			yochenglist
		WHERE 
			yochengoutHospitalId = #{yochengoutHospitalId}
	</select>
	
	<select id="yochenghSearch" parameterType="String" resultType="com.cafe24.oneteammds.yochengvo.Yochenghospital">
	<!--  항목 선택 후 해당 로그인 아이디 list select 조회 컬럼 -->	
		SELECT * FROM 
			yochenglist
		WHERE 
			yochengoutHospitalId = #{yochengoutHospitalId}
		<if test="search1 neq null and search2 neq ''.toString()">
		AND
    		${search1} Like CONCAT('%',#{search2},'%')
    	</if>
	</select>

</mapper>