<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<th:block id="leftcolumn" th:fragment="menuFragment">
	
	<div class="d-flex align-items-stretch">
      <!-- Sidebar Navigation-->
      <nav id="sidebar">
        <!-- Sidebar Header-->
        <div class="sidebar-header d-flex align-items-center">
          <th:block  th:unless="${session.SID eq null}">
          <div class="avatar"><a th:href="@{/modifyAdmin(adminId=${session.SID})}"><img src="img/user.png" alt="..." class="img-fluid rounded-circle"></a></div>
          <div class="title">
            반갑습니다. <h1 class="h5"><a th:href="@{/modifyAdmin(adminId=${session.SID})}">[[${session.SID}]]</a></h1> [[${session.SLEVEL}]] <br/>[[${session.SNAME}]] 님  <br/>
          </div>
          </th:block>
        </div>
        <!-- Sidebar Navidation Menus-->
        <ul class="list-unstyled">
				<li class="active"><a href="/"> <i class="icon-home"></i>HOME</a></li>
				<li th:if="${session.SLEVEL ne '환자'}">
                	<a th:href="addAdminMain"> <i class="icon-user">
                	</i>회원등록</a>
                </li>
                <li th:if="${session.SLEVEL ne '환자'}" th:unless="${session.SID eq null}">
                	<a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote">
                </i>회원 리스트</a>
                <ul id="exampledropdownDropdown" class="collapse list-unstyled">
                  	<li><a href="adminList" th:if="${session.SLEVEL eq '관리자'}">관리자 리스트</a></li>
                    <li><a href="hospitalList" th:if="${session.SLEVEL eq '관리자'}">병원 리스트</a></li>
                    <li><a href="patientList">유저 리스트</a></li>
                  </ul>
                </li>
                 <li><a href="#exampledropdownDropdown0" aria-expanded="false" data-toggle="collapse" th:if="${session.SLEVEL eq '병원'}"><i class="icon-grid"></i>병원 진료 리스트</a>
                  <ul id="exampledropdownDropdown0" class="collapse list-unstyled">
                  	<li><a th:href="@{/totalhList(hospitalId=${session.SID})}">전체진료정보 리스트</a></li>
                    <li><a th:href="@{/jindanhList(hospitalId=${session.SID})}">진단내역</a></li>
                    <li><a th:href="@{/yakmulhList(hospitalId=${session.SID})}">약물처방내역</a></li>
                    <li><a th:href="@{/gumchehList(hospitalId=${session.SID})}">검체검사결과</a></li>
                    <li><a th:href="@{/byungrihList(hospitalId=${session.SID})}">병리검사결과</a></li>
                    <li><a th:href="@{/youngsanghList(hospitalId=${session.SID})}">영상검사결과</a></li>
                    <li><a th:href="@{/ginuenghList(hospitalId=${session.SID})}">기능검사결과</a></li>
                    <li><a th:href="@{/susulhList(hospitalId=${session.SID})}">수술내역</a></li>
                    <li><a th:href="@{/allergyhList(hospitalId=${session.SID})}" >알러지 및 부작용</a></li>
                    <li><a th:href="@{/yebanghList(hospitalId=${session.SID})}">예방접종내역</a></li>
                    <li><a th:href="@{/saengchaehList(hospitalId=${session.SID})}">생체 신호 및 상태</a></li>
                    <li><a th:href="@{/smokinghList(hospitalId=${session.SID})}">흡연상태</a></li>
                    <li><a th:href="@{/drinkinghList(hospitalId=${session.SID})}">음주상태</a></li>
                    <li><a th:href="@{/junyumhList(hospitalId=${session.SID})}">법정 전염성감염병</a></li>
                    <li><a th:href="@{/pandoghList(hospitalId=${session.SID})}">영상판독정보</a></li>
                  </ul>
                </li>
                <li><a href="#exampledropdownDropdown3" aria-expanded="false" data-toggle="collapse" th:if="${session.SLEVEL eq '관리자'}"> <i class="icon-grid"></i>MDS 진료 리스트</a>
                  <ul id="exampledropdownDropdown3" class="collapse list-unstyled">
                  	<li><a href="totaldbList">전체 진료정보내역</a></li>
                    <li><a href="jindandbList">진단내역</a></li>
                    <li><a href="yakmuldbList">약물처방 내역</a></li>
                    <li><a href="gumchedbList">검체검사 결과</a></li>
                    <li><a href="byungridbList">병리검사 결과</a></li>
                    <li><a href="youngsangdbList">영상검사 결과</a></li>
                    <li><a href="ginuengdbList">기능검사 결과</a></li>
                    <li><a href="susuldbList">수술내역</a></li>
                    <li><a th:href="allergydbList">알러지 및 부작용</a></li>
                    <li><a href="yebangdbList">예방접종 내역</a></li>
                    <li><a href="saengchaedbList">생체 신호 및 상태</a></li>
                    <li><a href="smokingdbList">흡연상태</a></li>
                    <li><a href="drinkingdbList">음주상태</a></li>
                    <li><a href="junyumdbList">법정 전염성감염병</a></li>
                    <li><a href="pandogdbList">영상판독정보</a></li>
                  </ul>
                </li>
				<li><a href="#exampledropdownDropdown8" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>!)진료 정보 발신 리스트</a>
                  <ul id="exampledropdownDropdown8" class="collapse list-unstyled ">
                    <li><a href="sendrequestinsertC">!)진료 정보 발신</a></li>
                    <li><a href="sendrequestlistC">!)진료 정보 발신 내역</a></li>
                    <li><a href="epatientsinsertC">!)환자 전원 거부 발신</a></li> 
                    <li><a href="epatientslistC">!)환자 전원 거부 발신 내역</a></li> 
                  </ul>
                 </li>
                 <li><a href="#exampledropdownDropdown9" aria-expanded="false" data-toggle="collapse" th:if="${session.SLEVEL eq '관리자'}"> <i class="icon-padnote"></i>!)진료 정보 요청</a>
                  <ul id="exampledropdownDropdown9" class="collapse list-unstyled ">                  	
                    <li><a href="yochengAdminList">!)진료 정보 요청 보내기</a></li> <!-- 진료정보 요청 경로지정 -->
                    <li><a href="#">!)진료 정보 요청 보낸 내역</a></li> <!-- 진료정보 요청 경로지정 -->
                    <li><a href="#">!)환자 전원 조치 수신 내역</a></li> 
                  </ul>
                 </li>
                 <!-- <li><a href="#exampledropdownDropdown10" aria-expanded="false" data-toggle="collapse"> <i class="icon-padnote"></i>!)진료 정보 요청</a>
                  <ul id="exampledropdownDropdown10" class="collapse list-unstyled ">
                    <li><a href="susinHospitalInsert">!)진료 정보 수신 요청</a></li>
                    <li><a href="#">!)진료 정보 수신 요청 내역 </a></li>
                    <li><a href="#">!)환자 전원 조치 수신 내역</a></li>
                  </ul>
                 </li> -->
                 <li><a href="#" th:if="${session.SLEVEL eq '관리자'}"> <i class="icon-settings"></i>#)진료정보 공유 알림관리</a></li>
        	</ul>
      	</nav>
      <!-- Sidebar Navigation end-->
     <!--  <div class="page-content">
        <div class="page-header">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">HOME</h2>
          </div>
       </div>
      </div> 
     </div> -->
</th:block>
</html>