<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.AllergyMapper">
 	
 	<!-- 병원1 -->
 	
 	<!-- 병원DB - 알러지 및 부작용 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 알러지 및 부작용 리스트  출력 처리 -->
 	<select	id="getAllergyhList" 
 			resultType="com.cafe24.oneteammds.listvo.Allergyh">
 		SELECT 
 			aseCode
 		  , hospitalId
 		  , patientId
 		  , asemFactor
 		  , asemfCode
 		  , aseName
 		  , aseReaction
 		  , pDoctor
 		  , asedTime
 		  , adminId
 		  , aserDate
		FROM 
			allergyh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 알러지 및 부작용 -> 알러지 및 부작용 regist form -->
 	
 	<select id="getAllergyhById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Allergyh">
		SELECT 
 			aseCode
 		  , hospitalId
 		  , patientId
 		  , asemFactor
 		  , asemfCode
 		  , aseName
 		  , aseReaction
 		  , pDoctor
 		  , asedTime
 		  , adminId
 		  , aserDate
		FROM 
			allergyh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 알러지 및 부작용 regist complete -->
 	
 	<insert id="getAllergyRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Allergyh">
 	REPLACE INTO 
 			allergy
		SELECT
			aseCode
 		  , hospitalId
 		  , patientId
 		  , asemFactor
 		  , asemfCode
 		  , aseName
 		  , aseReaction
 		  , pDoctor
 		  , asedTime
 		  , adminId
 		  , aserDate
		FROM 
			allergyh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 알러지 및 부작용 검색 -->
	<select id="getAllergySearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Allergy">
	  	SELECT
			 aseCode
			,hospitalId
			,patientId
			,asemFactor
			,asemfCode
			,aseName
			,aseReaction
			,pDoctor
			,asedTime
			,adminId
			,aserDate
		FROM
			 allergyh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>	
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 알러지 및 부작용 -->
	
	<select id="getAllergydbList"
			resultType="com.cafe24.oneteammds.listvo.Allergy">
		SELECT 
 			aseCode
 		  , hospitalId
 		  , patientId
 		  , asemFactor
 		  , asemfCode
 		  , aseName
 		  , aseReaction
 		  , pDoctor
 		  , asedTime
 		  , adminId
 		  , aserDate
		FROM 
			allergy
	</select>
	
	<!-- MDS DB - 알러지 및 부작용 삭제 -->
	<delete id="delAllergy" parameterType="String">
		DELETE
		FROM allergy
		WHERE
		aseCode = #{aseCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 	
 </mapper>