<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.ByungriMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 병리검사결과 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 병리검사결과 리스트  출력 처리 -->
 	<select	id="getByungrihList" 
 			resultType="com.cafe24.oneteammds.listvo.Byungrih">
 		SELECT 
 		   brh.ptrCode
 		  ,brh.hospitalId
 		  ,brh.patientId
 		  ,brh.ptName
 		  ,brh.ptCode
 		  ,brh.ptrValue
 		  ,brh.pDoctor
 		  ,brh.ptdTime
 		  ,brh.adminId
 		  ,brh.ptrDate
 		  ,pit.pName
		FROM 
			byungrih brh
		JOIN
			patient pit
			ON
				brh.hospitalId = pit.hospitalId
			AND
				brh.patientId = pit.patientId	
		WHERE
			brh.hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 병리검사결과 -> 병리검사결과 regist form -->
 	
 	<select id="getByungrihById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Byungrih">
		SELECT 
 			ptrCode
 		  , hospitalId
 		  , patientId
 		  , ptName
 		  , ptCode
 		  , ptrValue
 		  , pDoctor
 		  , ptdTime
 		  , adminId
 		  , ptrDate
		FROM 
			byungrih
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 병리검사결과 regist complete -->
 	
 	<insert id="getByungriRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Byungrih">
 	REPLACE INTO 
 			byungri
		SELECT
			ptrCode
 		  , hospitalId
 		  , patientId
 		  , ptName
 		  , ptCode
 		  , ptrValue
 		  , pDoctor
 		  , ptdTime
 		  , adminId
 		  , ptrDate
		FROM 
			byungrih
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 병리검사결과 검색 -->
	<select id="getByungriSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Byungri">
	  	SELECT 
 		   brh.ptrCode
 		  ,brh.hospitalId
 		  ,brh.patientId
 		  ,brh.ptName
 		  ,brh.ptCode
 		  ,brh.ptrValue
 		  ,brh.pDoctor
 		  ,brh.ptdTime
 		  ,brh.adminId
 		  ,brh.ptrDate
 		  ,pit.pName
		FROM 
			byungrih brh
		JOIN
			patient pit
			ON
				brh.hospitalId = pit.hospitalId
			AND
				brh.patientId = pit.patientId
		WHERE 
			brh.hospitalId = #{hospitalId}
		<if test="sv1 != null and sv1 neq ''.toString()">	
		and ${sk1} Like CONCAT('%',#{sv1},'%')
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">
		AND ${sk2} Like CONCAT('%',#{sv2},'%')
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND ptrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND ptrDate <![CDATA[<=]]> #{finish_date} 
		</if>	
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 병리검사결과 -->
	
	<select id="getByungridbList"
			resultType="com.cafe24.oneteammds.listvo.Byungri">
		SELECT 
 		   br.ptrCode
 		  ,br.hospitalId
 		  ,br.patientId
 		  ,br.ptName
 		  ,br.ptCode
 		  ,br.ptrValue
 		  ,br.pDoctor
 		  ,br.ptdTime
 		  ,br.adminId
 		  ,br.ptrDate
 		  ,pit.pName	  
		FROM 
			byungri br
		JOIN
			patient pit
			ON
				br.hospitalId = pit.hospitalId
			AND
				br.patientId = pit.patientId	
	</select>
	
	<!-- MDS DB - 병리검사결과  검색-->
	<select id="getByungridbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Byungri">
	  	SELECT 
 		   br.ptrCode
 		  ,br.hospitalId
 		  ,br.patientId
 		  ,br.ptName
 		  ,br.ptCode
 		  ,br.ptrValue
 		  ,br.pDoctor
 		  ,br.ptdTime
 		  ,br.adminId
 		  ,br.ptrDate
 		  ,pit.pName	  
		FROM 
			byungri br
		JOIN
			patient pit
			ON
				br.hospitalId = pit.hospitalId
			AND
				br.patientId = pit.patientId
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND ptrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND ptrDate <![CDATA[<=]]> #{finish_date} 
		</if>	
	</select>
	
	
	<!-- MDS DB - 병리검사결과  삭제-->
 	<delete id="delByungri" parameterType="String">
		DELETE
		FROM byungri
		WHERE
		ptrCode = #{ptrCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 	
 </mapper>