<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.DrinkingMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 음주상태 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 음주상태 리스트  출력 처리 -->
 	<select	id="getDrinkinghList" 
 			resultType="com.cafe24.oneteammds.listvo.Drinkingh">
 		SELECT 
 			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinkingh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 음주상태 -> 음주상태 regist form -->
 	
 	<select id="getDrinkinghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Drinkingh">
		SELECT 
 			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinkingh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 음주상태 regist complete -->
 	
 	<insert id="getDrinkingRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Drinkingh">
 		REPLACE INTO 
 			drinking
		SELECT
			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinkingh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 음주상태 -->
	
	<select id="getDrinkingdbList"
			resultType="com.cafe24.oneteammds.listvo.Drinking">
		SELECT 
 			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinking
	</select>
	
 </mapper>