<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.DrinkingMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 음주상태 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 음주상태 리스트  출력 처리 -->
 	<select	id="getDrinkinghList" 
 			resultType="com.cafe24.oneteammds.listvo.Drinkingh">
 		SELECT 
 			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinkingh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 음주상태 -> 음주상태 regist form -->
 	
 	<select id="getDrinkinghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Drinkingh">
		SELECT 
 			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinkingh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 음주상태 regist complete -->
 	
 	<insert id="getDrinkingRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Drinkingh">
 		REPLACE INTO 
 			drinking
		SELECT
			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinkingh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 음주상태 검색 -->
	<select id="getDrinkingSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Drinking">
	  	SELECT
			 dcCode
			,hospitalId
			,patientId
			,dccName
			,pDoctor
			,adminId
			,dcrDate
		FROM
			 drinkingh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND dcrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND dcrDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 음주상태 -->
	
	<select id="getDrinkingdbList"
			resultType="com.cafe24.oneteammds.listvo.Drinking">
		SELECT 
 			dcCode
 		  , hospitalId
 		  , patientId
 		  , dccName
 		  , pDoctor
 		  , adminId
 		  , dcrDate
		FROM 
			drinking
	</select>
	
	<!-- MDS DB - 음주상태 검색 -->
	<select id="getDrinkingdbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Drinking">
	  	SELECT
			 dcCode
			,hospitalId
			,patientId
			,dccName
			,pDoctor
			,adminId
			,dcrDate
		FROM
			 drinking
		<if test="sv != null and sv neq ''.toString()">
		</if>	 
		WHERE 					
			${sk} Like CONCAT('%',#{sv},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND dcrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND dcrDate <![CDATA[<=]]> #{finish_date} 
		</if>	
	</select>
	
	<!-- MDS DB - 음주상태 삭제 -->
	<delete id="delDrinking" parameterType="String">
		DELETE
		FROM drinking
		WHERE
		dcCode = #{dcCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
	
 </mapper>