<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.GinuengMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 기능검사결과 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 기능검사결과 리스트  출력 처리 -->
 	<select	id="getGinuenghList" 
 			resultType="com.cafe24.oneteammds.listvo.Ginuengh">
 		SELECT 
 		   gnh.ftrCode
 		  ,gnh.hospitalId
 		  ,gnh.patientId
 		  ,gnh.ftName
 		  ,gnh.ftCode
 		  ,gnh.ftrValue
 		  ,gnh.pDoctor
 		  ,gnh.ftdTime
 		  ,gnh.adminId
 		  ,gnh.ftrDate
 		  ,pit.pName
		FROM 
			ginuengh gnh
		JOIN
			patient pit
			ON
				gnh.hospitalId = pit.hospitalId
			AND
				gnh.patientId = pit.patientId	
		WHERE
			gnh.hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 기능검사결과 -> 기능검사결과 regist form -->
 	
 	<select id="getGinuenghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Ginuengh">
		SELECT 
 			ftrCode
 		  , hospitalId
 		  , patientId
 		  , ftName
 		  , ftCode
 		  , ftrValue
 		  , pDoctor
 		  , ftdTime
 		  , adminId
 		  , ftrDate
		FROM 
			ginuengh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 기능검사결과 regist complete -->
 	
 	<insert id="getGinuengRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Ginuengh">
 	REPLACE INTO 
 			ginueng
		SELECT
			ftrCode
 		  , hospitalId
 		  , patientId
 		  , ftName
 		  , ftCode
 		  , ftrValue
 		  , pDoctor
 		  , ftdTime
 		  , adminId
 		  , ftrDate
		FROM 
			ginuengh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 기능검사결과 검색 -->
	<select id="getGinuengSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Ginueng">
	  	SELECT 
 		   gnh.ftrCode
 		  ,gnh.hospitalId
 		  ,gnh.patientId
 		  ,gnh.ftName
 		  ,gnh.ftCode
 		  ,gnh.ftrValue
 		  ,gnh.pDoctor
 		  ,gnh.ftdTime
 		  ,gnh.adminId
 		  ,gnh.ftrDate
 		  ,pit.pName
		FROM 
			ginuengh gnh
		JOIN
			patient pit
			ON
				gnh.hospitalId = pit.hospitalId
			AND
				gnh.patientId = pit.patientId
		WHERE 
			gnh.hospitalId = #{hospitalId}
		<if test="sv1 != null and sv1 neq ''.toString()">	
		and ${sk1} Like CONCAT('%',#{sv1},'%')
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">
		AND ${sk2} Like CONCAT('%',#{sv2},'%')
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND ftrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND ftrDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 기능검사결과 -->
	
	<select id="getGinuengdbList"
			resultType="com.cafe24.oneteammds.listvo.Ginueng">
		SELECT 
 		   gn.ftrCode
 		  ,gn.hospitalId
 		  ,gn.patientId
 		  ,gn.ftName
 		  ,gn.ftCode
 		  ,gn.ftrValue
 		  ,gn.pDoctor
 		  ,gn.ftdTime
 		  ,gn.adminId
 		  ,gn.ftrDate
 		  ,pit.pName	  
		FROM 
			ginueng gn
		JOIN
			patient pit
			ON
				gn.hospitalId = pit.hospitalId
			AND
				gn.patientId = pit.patientId	
	</select>
	
	<!-- MDS DB - 기능검사결과 검색 -->
	<select id="getGinuengdbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Ginueng">
	  	SELECT 
 		   gn.ftrCode
 		  ,gn.hospitalId
 		  ,gn.patientId
 		  ,gn.ftName
 		  ,gn.ftCode
 		  ,gn.ftrValue
 		  ,gn.pDoctor
 		  ,gn.ftdTime
 		  ,gn.adminId
 		  ,gn.ftrDate
 		  ,pit.pName	  
		FROM 
			ginueng gn
		JOIN
			patient pit
			ON
				gn.hospitalId = pit.hospitalId
			AND
				gn.patientId = pit.patientId
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND ftrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND ftrDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- MDS DB - 기능검사결과 삭제 -->
	<delete id="delGinueng" parameterType="String">
		DELETE
		FROM ginueng
		WHERE
		ftrCode = #{ftrCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 	
 </mapper>