<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.GinuengMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 기능검사결과 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 기능검사결과 리스트  출력 처리 -->
 	<select	id="getGinuenghList" 
 			resultType="com.cafe24.oneteammds.listvo.Ginuengh">
 		SELECT 
 			ftrCode
 		  , hospitalId
 		  , patientId
 		  , ftName
 		  , ftCode
 		  , ftrValue
 		  , pDoctor
 		  , ftdTime
 		  , adminId
 		  , ftrDate
		FROM 
			ginuengh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 기능검사결과 -> 기능검사결과 regist form -->
 	
 	<select id="getGinuenghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Ginuengh">
		SELECT 
 			ftrCode
 		  , hospitalId
 		  , patientId
 		  , ftName
 		  , ftCode
 		  , ftrValue
 		  , pDoctor
 		  , ftdTime
 		  , adminId
 		  , ftrDate
		FROM 
			ginuengh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 기능검사결과 regist complete -->
 	
 	<insert id="getGinuengRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Ginuengh">
 	REPLACE INTO 
 			ginueng
		SELECT
			ftrCode
 		  , hospitalId
 		  , patientId
 		  , ftName
 		  , ftCode
 		  , ftrValue
 		  , pDoctor
 		  , ftdTime
 		  , adminId
 		  , ftrDate
		FROM 
			ginuengh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 기능검사결과 검색 -->
	<select id="getGinuengSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Ginueng">
	  	SELECT
			 ftrCode
			,hospitalId
			,patientId
			,ftName
			,ftCode
			,ftrValue
			,pDoctor
			,ftdTime
			,adminId
			,ftrDate
		FROM
			 ginuengh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
		
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 기능검사결과 -->
	
	<select id="getGinuengdbList"
			resultType="com.cafe24.oneteammds.listvo.Ginueng">
		SELECT 
 			ftrCode
 		  , hospitalId
 		  , patientId
 		  , ftName
 		  , ftCode
 		  , ftrValue
 		  , pDoctor
 		  , ftdTime
 		  , adminId
 		  , ftrDate
		FROM 
			ginueng
	</select>
	
	<!-- MDS DB - 기능검사결과 검색 -->
	<select id="getGinuengdbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Ginueng">
	  	SELECT
			 ftrCode
			,hospitalId
			,patientId
			,ftName
			,ftCode
			,ftrValue
			,pDoctor
			,ftdTime
			,adminId
			,ftrDate
		FROM
			 ginueng
		<if test="sv != null and sv neq ''.toString()">		 
		WHERE 
			
						
			${sk} Like CONCAT('%',#{sv},'%')		
		</if>
		
	</select>
	
	<!-- MDS DB - 기능검사결과 삭제 -->
	<delete id="delGinueng" parameterType="String">
		DELETE
		FROM ginueng
		WHERE
		ftrCode = #{ftrCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 	
 </mapper>