<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.GumcheMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 검체검사결과 -->
 	
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 검체검사결과 리스트  출력 처리 -->
 	<select	id="getGumchehList" 
 			resultType="com.cafe24.oneteammds.listvo.Gumcheh">
 		SELECT 
 		   gch.strCode
 		  ,gch.hospitalId
 		  ,gch.patientId
 		  ,gch.stiName
 		  ,gch.stiCode
 		  ,gch.stName
 		  ,gch.strValue
 		  ,gch.strrValue
 		  ,gch.pDoctor
 		  ,gch.stdTime
 		  ,gch.adminId
 		  ,gch.strDate
 		  ,pit.pName
		FROM 
			gumcheh gch
		JOIN
			patient pit
			ON
				gch.hospitalId = pit.hospitalId
			AND
				gch.patientId = pit.patientId	
		WHERE
			gch.hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 검체검사결과 -> 검체검사결과 regist form -->
 	
 	<select id="getGumchehById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Gumcheh">
		SELECT 
 			strCode
 		  , hospitalId
 		  , patientId
 		  , stiName
 		  , stiCode
 		  , stName
 		  , strValue
 		  , strrValue
 		  , pDoctor
 		  , stdTime
 		  , adminId
 		  , strDate
		FROM 
			gumcheh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 검체검사결과 regist complete -->
 	
 	<insert id="getGumcheRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Gumcheh">
 	REPLACE INTO 
 			gumche
		SELECT
			strCode
 		  , hospitalId
 		  , patientId
 		  , stiName
 		  , stiCode
 		  , stName
 		  , strValue
 		  , strrValue
 		  , pDoctor
 		  , stdTime
 		  , adminId
 		  , strDate
		FROM 
			gumcheh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 병원DB - 검체검사결과 검색 -->
	<select id="getGumcheSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Gumche">
	  	SELECT 
 		   gch.strCode
 		  ,gch.hospitalId
 		  ,gch.patientId
 		  ,gch.stiName
 		  ,gch.stiCode
 		  ,gch.stName
 		  ,gch.strValue
 		  ,gch.strrValue
 		  ,gch.pDoctor
 		  ,gch.stdTime
 		  ,gch.adminId
 		  ,gch.strDate
 		  ,pit.pName
		FROM 
			gumcheh gch
		JOIN
			patient pit
			ON
				gch.hospitalId = pit.hospitalId
			AND
				gch.patientId = pit.patientId
		WHERE 
			gch.hospitalId = #{hospitalId}
		<if test="sv1 != null and sv1 neq ''.toString()">	
		and ${sk1} Like CONCAT('%',#{sv1},'%')
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">
		AND ${sk2} Like CONCAT('%',#{sv2},'%')
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND strDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND strDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 검체검사결과 -->
	
	<select id="getGumchedbList"
			resultType="com.cafe24.oneteammds.listvo.Gumche">
		SELECT 
 		   gc.strCode
 		  ,gc.hospitalId
 		  ,gc.patientId
 		  ,gc.stiName
 		  ,gc.stiCode
 		  ,gc.stName
 		  ,gc.strValue
 		  ,gc.strrValue
 		  ,gc.pDoctor
 		  ,gc.stdTime
 		  ,gc.adminId
 		  ,gc.strDate
 		  ,pit.pName	  
		FROM 
			gumche gc
		JOIN
			patient pit
			ON
				gc.hospitalId = pit.hospitalId
			AND
				gc.patientId = pit.patientId	
	</select>
	
	
	<!-- MDS DB - 검체검사결과 검색 -->
	<select id="getGumchedbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Gumche">
	  	SELECT 
 		   gc.strCode
 		  ,gc.hospitalId
 		  ,gc.patientId
 		  ,gc.stiName
 		  ,gc.stiCode
 		  ,gc.stName
 		  ,gc.strValue
 		  ,gc.strrValue
 		  ,gc.pDoctor
 		  ,gc.stdTime
 		  ,gc.adminId
 		  ,gc.strDate
 		  ,pit.pName
		FROM 
			gumche gc
		JOIN
			patient pit
			ON
				gc.hospitalId = pit.hospitalId
			AND
				gc.patientId = pit.patientId
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND strDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND strDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- MDS DB - 검체검사결과 삭제 -->
	<delete id="delGumche" parameterType="String">
 		DELETE 
		FROM gumche
		WHERE
				     strCode = #{strCode}
			 and hospitalId = #{hospitalId}
			  and patientId = #{patientId}
 	</delete>
 </mapper>