<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.JunyumMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 법정 전염성 감염병 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 법정 전염성 감염병 리스트  출력 처리 -->
 	<select	id="getJunyumhList" 
 			resultType="com.cafe24.oneteammds.listvo.Junyumh">
 		SELECT 
 		   jyh.lcidCode
 		  ,jyh.hospitalId
 		  ,jyh.patientId
 		  ,jyh.lcidName
 		  ,jyh.lcidpGroup
 		  ,jyh.lcidtResult
 		  ,jyh.lcidinOut
 		  ,jyh.lcidArea
 		  ,jyh.pDoctor
 		  ,jyh.lcidoDate
 		  ,jyh.lciddDate
 		  ,jyh.lcidrDate
 		  ,jyh.adminId
 		  ,jyh.lcidDate
 		  ,pit.pName
		FROM 
			junyumh jyh
		JOIN
			patient pit
			ON
				jyh.hospitalId = pit.hospitalId
			AND
				jyh.patientId = pit.patientId	
		WHERE
			jyh.hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 법정 전염성 감염병 -> 법정 전염성 감염병 regist form -->
 	
 	<select id="getJunyumhById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Junyumh">
		SELECT 
 			lcidCode
 		  , hospitalId
 		  , patientId
 		  , lcidName
 		  , lcidpGroup
 		  , lcidtResult
 		  , lcidinOut
 		  , lcidArea
 		  , pDoctor
 		  , lcidoDate
 		  , lciddDate
 		  , lcidrDate
 		  , adminId
 		  , lcidDate
		FROM 
			junyumh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 법정 전염성 감염병 regist complete -->
 	
 	<insert id="getJunyumRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Junyumh">
 		REPLACE INTO 
 			junyum
		SELECT
			lcidCode
 		  , hospitalId
 		  , patientId
 		  , lcidName
 		  , lcidpGroup
 		  , lcidtResult
 		  , lcidinOut
 		  , lcidArea
 		  , pDoctor
 		  , lcidoDate
 		  , lciddDate
 		  , lcidrDate
 		  , adminId
 		  , lcidDate
		FROM 
			junyumh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 법정 전염성 감염병 검색 -->
	<select id="getJunyumSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Junyum">
	  	SELECT 
 		   jyh.lcidCode
 		  ,jyh.hospitalId
 		  ,jyh.patientId
 		  ,jyh.lcidName
 		  ,jyh.lcidpGroup
 		  ,jyh.lcidtResult
 		  ,jyh.lcidinOut
 		  ,jyh.lcidArea
 		  ,jyh.pDoctor
 		  ,jyh.lcidoDate
 		  ,jyh.lciddDate
 		  ,jyh.lcidrDate
 		  ,jyh.adminId
 		  ,jyh.lcidDate
 		  ,pit.pName
		FROM 
			junyumh jyh
		JOIN
			patient pit
			ON
				jyh.hospitalId = pit.hospitalId
			AND
				jyh.patientId = pit.patientId
		WHERE 
			jyh.hospitalId = #{hospitalId}
		<if test="sv1 != null and sv1 neq ''.toString()">	
		and ${sk1} Like CONCAT('%',#{sv1},'%')
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">
		AND ${sk2} Like CONCAT('%',#{sv2},'%')
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND lcidDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND lcidDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 법정 전염성 감염병 -->
	
	<select id="getJunyumdbList"
			resultType="com.cafe24.oneteammds.listvo.Junyum">
		SELECT 
 		   jy.lcidCode
 		  ,jy.hospitalId
 		  ,jy.patientId
 		  ,jy.lcidName
 		  ,jy.lcidpGroup
 		  ,jy.lcidtResult
 		  ,jy.lcidinOut
 		  ,jy.lcidArea
 		  ,jy.pDoctor
 		  ,jy.lcidoDate
 		  ,jy.lciddDate
 		  ,jy.lcidrDate
 		  ,jy.adminId
 		  ,jy.lcidDate
 		  ,pit.pName		  
		FROM 
			junyum jy
		JOIN
			patient pit
			ON
				jy.hospitalId = pit.hospitalId
			AND
				jy.patientId = pit.patientId	
	</select>
	
	
	<!-- MDS DB - 법정 전염성 감염병 검색 -->
	<select id="getJunyumdbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Junyum">
	  	SELECT 
 		   jy.lcidCode
 		  ,jy.hospitalId
 		  ,jy.patientId
 		  ,jy.lcidName
 		  ,jy.lcidpGroup
 		  ,jy.lcidtResult
 		  ,jy.lcidinOut
 		  ,jy.lcidArea
 		  ,jy.pDoctor
 		  ,jy.lcidoDate
 		  ,jy.lciddDate
 		  ,jy.lcidrDate
 		  ,jy.adminId
 		  ,jy.lcidDate
 		  ,pit.pName		  
		FROM 
			junyum jy
		JOIN
			patient pit
			ON
				jy.hospitalId = pit.hospitalId
			AND
				jy.patientId = pit.patientId
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND lcidDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND lcidDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- MDS DB - 법정 전염성 감염병 삭제 -->
	<delete id="delJunyum" parameterType="String">
		DELETE
		FROM junyum
		WHERE
		lcidCode = #{lcidCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
	
 </mapper>