<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.SaengchaeMapper">
 	
 	<!-- 병원1 -->
 	
 	<!-- 병원DB - 생체신호 및 상태 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 생체상태 및 신호 리스트  출력 처리 -->
 	<select	id="getSaengchaehList" 
 			resultType="com.cafe24.oneteammds.listvo.Saengchaeh">
 		SELECT 
 			vscCode
 		  , hospitalId
 		  , patientId
 		  , vscHeight
 		  , vscWeight
 		  , bpMin
 		  , bpMax
 		  , bheat
 		  , pDoctor
 		  , vscCheck
 		  , adminId
 		  , vscrDate
		FROM 
			saengchaeh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 생체신호 및 상태 -> 생체신호 및 상태 regist form -->
 	
 	<select id="getSaengchaehById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Saengchaeh">
		SELECT 
 			vscCode
 		  , hospitalId
 		  , patientId
 		  , vscHeight
 		  , vscWeight
 		  , bpMin
 		  , bpMax
 		  , bheat
 		  , pDoctor
 		  , vscCheck
 		  , adminId
 		  , vscrDate
		FROM 
			saengchaeh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 생체신호 및 상태 regist complete -->
 	
 	<insert id="getSaengchaeRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Saengchaeh">
 	REPLACE INTO 
 			saengchae
		SELECT
			vscCode
 		  , hospitalId
 		  , patientId
 		  , vscHeight
 		  , vscWeight
 		  , bpMin
 		  , bpMax
 		  , bheat
 		  , pDoctor
 		  , vscCheck
 		  , adminId
 		  , vscrDate
		FROM 
			saengchaeh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 생체신호 및 상태 검색 -->
	<select id="getSaengchaeSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Saengchae">
	  	SELECT
			 vscCode
			,hospitalId
			,patientId
			,vscHeight
			,vscWeight 
			,bpMin
			,bpMax
			,bheat
			,pDoctor
			,vscCheck
			,adminId
			,vscrDate
		FROM
			 saengchaeh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND vscrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND vscrDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 생체신호 및 상태 -->
	
	<select id="getSaengchaedbList"
			resultType="com.cafe24.oneteammds.listvo.Saengchae">
		SELECT 
 			vscCode
 		  , hospitalId
 		  , patientId
 		  , vscHeight
 		  , vscWeight
 		  , bpMin
 		  , bpMax
 		  , bheat
 		  , pDoctor
 		  , vscCheck
 		  , adminId
 		  , vscrDate
		FROM 
			saengchae
	</select>
	
	
	<!-- MDS DB - 생체신호 및 상태  검색 -->
	<select id="getSaengchaedbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Saengchae">
	  	SELECT
			 vscCode
			,hospitalId
			,patientId
			,vscHeight
			,vscWeight 
			,bpMin
			,bpMax
			,bheat
			,pDoctor
			,vscCheck
			,adminId
			,vscrDate
		FROM
			 saengchae
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND vscrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND vscrDate <![CDATA[<=]]> #{finish_date} 
		</if>	
	</select>
	
	<!-- MDS DB - 생체신호 및 상태 삭제 -->
	<delete id="delSaengchae" parameterType="String">
		DELETE
		FROM saengchae
		WHERE
		vscCode = #{vscCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
	
 </mapper>