<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.SmokingMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 흡연상태 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 흡연상태 리스트  출력 처리 -->
 	<select	id="getSmokinghList" 
 			resultType="com.cafe24.oneteammds.listvo.Smokingh">
 		SELECT 
 			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smokingh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 흡연상태 -> 흡연상태 regist form -->
 	
 	<select id="getSmokinghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Smokingh">
		SELECT 
 			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smokingh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 흡연상태 regist complete -->
 	
 	<insert id="getSmokingRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Smokingh">
 	REPLACE INTO 
 			smoking
		SELECT
			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smokingh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 흡연상태 검색 -->
	<select id="getSmokingSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Smoking">
	  	SELECT
			 scCode
			,hospitalId
			,patientId
			,sccName
			,pDoctor
			,adminId
			,scrDate
		FROM
			 smokingh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
	
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 흡연상태 -->
	
	<select id="getSmokingdbList"
			resultType="com.cafe24.oneteammds.listvo.Smoking">
		SELECT 
 			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smoking
	</select>
	
	<!-- MDS DB - 흡연상태  검색 -->
	<select id="getSmokingdbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Smoking">
	  	SELECT
			 scCode
			,hospitalId
			,patientId
			,sccName
			,pDoctor
			,adminId
			,scrDate
		FROM
			 smoking
		<if test="sv != null and sv neq ''.toString()">	 
		WHERE 
			
							
			${sk} Like CONCAT('%',#{sv},'%')		
		</if>
	
	</select>
	
	<!-- MDS DB - 흡연상태 삭제 -->
	<delete id="delSmoking" parameterType="String">
		DELETE
		FROM smoking
		WHERE
		scCode = #{scCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
	
 </mapper>