<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.SmokingMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 흡연상태 -->
 	
 	<select	id="getSmokinghList" 
 			resultType="com.cafe24.oneteammds.listvo.Smokingh">
 		SELECT 
 			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smokingh
 	</select>
 	
 	<!-- 병원DB - 흡연상태 -> 흡연상태 regist form -->
 	
 	<select id="getSmokinghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Smokingh">
		SELECT 
 			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smokingh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 흡연상태 regist complete -->
 	
 	<insert id="getSmokingRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Smokingh">
 	REPLACE INTO 
 			smoking
		SELECT
			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smokingh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 흡연상태 -->
	
	<select id="getSmokingdbList"
			resultType="com.cafe24.oneteammds.listvo.Smoking">
		SELECT 
 			scCode
 		  , hospitalId
 		  , patientId
 		  , sccName
 		  , pDoctor
 		  , adminId
 		  , scrDate
		FROM 
			smoking
	</select>
	
 </mapper>