<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.SusulMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 수술내역 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 수술내역 리스트  출력 처리 -->
 	<select	id="getSusulhList" 
 			resultType="com.cafe24.oneteammds.listvo.Susulh">
 		SELECT 
 			sbCode
 		  , hospitalId
 		  , patientId
 		  , sName
 		  , sCode
 		  , aKind
 		  , pDoctor
 		  , sdTime
 		  , adminId
 		  , sbDate
		FROM 
			susulh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 수술내역 -> 수술내역 regist form -->
 	
 	<select id="getSusulhById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Susulh">
		SELECT 
 			sbCode
 		  , hospitalId
 		  , patientId
 		  , sName
 		  , sCode
 		  , aKind
 		  , pDoctor
 		  , sdTime
 		  , adminId
 		  , sbDate
		FROM 
			susulh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 수술내역 regist complete -->
 	
 	<insert id="getSusulRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Susulh">
 	REPLACE INTO 
 			susul
		SELECT
			sbCode
 		  , hospitalId
 		  , patientId
 		  , sName
 		  , sCode
 		  , aKind
 		  , pDoctor
 		  , sdTime
 		  , adminId
 		  , sbDate
		FROM 
			susulh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 수술내역 검색 -->
	<select id="getSusulSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Susul">
	  	SELECT
			 sbCode
			,hospitalId
			,patientId
			,sName
			,sCode
			,aKind
			,pDoctor
			,sdTime
			,adminId
			,sbDate
		FROM
			 susulh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND sbDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND sbDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 수술내역 -->
	
	<select id="getSusuldbList"
			resultType="com.cafe24.oneteammds.listvo.Susul">
		SELECT 
 			sbCode
 		  , hospitalId
 		  , patientId
 		  , sName
 		  , sCode
 		  , aKind
 		  , pDoctor
 		  , sdTime
 		  , adminId
 		  , sbDate
		FROM 
			susul
	</select>
	
	
	<!-- MDS DB - 수술내역 검색 -->
	<select id="getSusuldbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Susul">
	  	SELECT
			 sbCode
			,hospitalId
			,patientId
			,sName
			,sCode
			,aKind
			,pDoctor
			,sdTime
			,adminId
			,sbDate
		FROM
			 susul
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')				
		<if test="start_date neq null and start_date neq ''.toString()">
			AND sbDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND sbDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- MDS DB - 수술내역 삭제 -->
	<delete id="delSusul" parameterType="String">
		DELETE
		FROM susul
		WHERE
		sbCode = #{sbCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
	
 </mapper>