<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.YakmulMapper">
 	
 	<!-- 병원1 -->
 	
 	<!-- 병원DB - 약물처방내역 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 약물처방내역 리스트  출력 처리 -->
 	<select	id="getYakmulhList" 
 			resultType="com.cafe24.oneteammds.listvo.Yakmulh">
 		SELECT 
 			mbCode
 		  , hospitalId
 		  , patientId
 		  , mmName
 		  , mmCode
 		  , miName
 		  , miCode
 		  , mVolume
 		  , mdUnit
 		  , mdNumber
 		  , mPeriod
 		  , mUsage
 		  , pDoctor
 		  , mdTime
 		  , adminId
 		  , mrDate
		FROM 
			yakmulh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 약물처방내역 -> 약물처방내역 regist form -->
 	
 	<select id="getYakmulhById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Yakmulh">
		SELECT 
 			mbCode
 		  , hospitalId
 		  , patientId
 		  , mmName
 		  , mmCode
 		  , miName
 		  , miCode
 		  , mVolume
 		  , mdUnit
 		  , mdNumber
 		  , mPeriod
 		  , mUsage
 		  , pDoctor
 		  , mdTime
 		  , adminId
 		  , mrDate
		FROM 
			yakmulh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 약물처방내역 regist complete -->
 	
 	<insert id="getYakmulRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Yakmulh">
 	REPLACE INTO 
 			yakmul
		SELECT
			mbCode
 		  , hospitalId
 		  , patientId
 		  , mmName
 		  , mmCode
 		  , miName
 		  , miCode
 		  , mVolume
 		  , mdUnit
 		  , mdNumber
 		  , mPeriod
 		  , mUsage
 		  , pDoctor
 		  , mdTime
 		  , adminId
 		  , mrDate
		FROM 
			yakmulh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 병원DB - 약물처방내역  검색 --> 
	<select id="getYakmulSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Yakmul">
	  	SELECT 
				 mbCode
				,hospitalId
				,patientId
				,mmName
				,mmCode
				,miName
				,miCode
				,mVolume
				,mdUnit
				,mdNumber
				,mPeriod
				,mUsage
				,pDoctor
				,mdTime
				,adminId
				,mrDate				
			FROM yakmulh	
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
		<if test="start_date neq null and start_date neq ''.toString()">
			AND mrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND mrDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 약물처방내역 -->
	
	<select id="getYakmuldbList"
			resultType="com.cafe24.oneteammds.listvo.Yakmul">
		SELECT 
 			mbCode
 		  , hospitalId
 		  , patientId
 		  , mmName
 		  , mmCode
 		  , miName
 		  , miCode
 		  , mVolume
 		  , mdUnit
 		  , mdNumber
 		  , mPeriod
 		  , mUsage
 		  , pDoctor
 		  , mdTime
 		  , adminId
 		  , mrDate
		FROM 
			yakmul
	</select>
	
	
	<!-- MDS DB - 약물처방내역  검색 --> 
	<select id="getYakmuldbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Yakmul">
	  	SELECT 
				 mbCode
				,hospitalId
				,patientId
				,mmName
				,mmCode
				,miName
				,miCode
				,mVolume
				,mdUnit
				,mdNumber
				,mPeriod
				,mUsage
				,pDoctor
				,mdTime
				,adminId
				,mrDate				
			FROM yakmul
		<if test="sv1 != null and sv1 neq ''.toString()">	
		</if>
		<if test="sv2 != null and sv2 neq ''.toString()">	
		</if>
		WHERE 					
		${sk1} Like CONCAT('%',#{sv1},'%') 
		and ${sk2} Like CONCAT('%',#{sv2},'%')			
		<if test="start_date neq null and start_date neq ''.toString()">
			AND mrDate >= #{start_date} 		
		</if>
		<if test="finish_date neq null and finish_date neq ''.toString()">
			AND mrDate <![CDATA[<=]]> #{finish_date} 
		</if>
	</select>
	
	<!-- MDS DB - 약물처방내역 삭제 --> 
	<delete id="delYakmul" parameterType="String">
 		DELETE 
		FROM yakmul
		WHERE
				     mbCode = #{mbCode}
			 and hospitalId = #{hospitalId}
			  and patientId = #{patientId}
 	</delete>
 	
 </mapper>