<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.YebangMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB - 예방접종내역 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 예방접종내역 리스트  출력 처리 -->
 	<select	id="getYebanghList" 
 			resultType="com.cafe24.oneteammds.listvo.Yebangh">
 		SELECT 
 			pibCode
 		  , hospitalId
 		  , patientId
 		  , piName
 		  , piCode
 		  , pivName
 		  , piBalance
 		  , pDoctor
 		  , piDate
 		  , adminId
 		  , pirDate
		FROM 
			yebangh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 예방접종내역 -> 예방접종내역 regist form -->
 	
 	<select id="getYebanghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Yebangh">
		SELECT 
 			pibCode
 		  , hospitalId
 		  , patientId
 		  , piName
 		  , piCode
 		  , pivName
 		  , piBalance
 		  , pDoctor
 		  , piDate
 		  , adminId
 		  , pirDate
		FROM 
			yebangh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 예방접종내역 regist complete -->
 	
 	<insert id="getYebangRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Yebangh">
 	REPLACE INTO 
 			yebang
		SELECT
			pibCode
 		  , hospitalId
 		  , patientId
 		  , piName
 		  , piCode
 		  , pivName
 		  , piBalance
 		  , pDoctor
 		  , piDate
 		  , adminId
 		  , pirDate
		FROM 
			yebangh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 예방접종내역 검색 -->
	<select id="getYebangSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Yebang">
	  	SELECT
			 pibCode
			,hospitalId
			,patientId
			,piName
			,piCode
			,pivName
			,piBalance
			,pDoctor
			,piDate
			,adminId
			,pirDate
		FROM
			 yebangh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
	
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 예방접종내역 -->
	
	<select id="getYebangdbList"
			resultType="com.cafe24.oneteammds.listvo.Yebang">
		SELECT 
 			pibCode
 		  , hospitalId
 		  , patientId
 		  , piName
 		  , piCode
 		  , pivName
 		  , piBalance
 		  , pDoctor
 		  , piDate
 		  , adminId
 		  , pirDate
		FROM 
			yebang
	</select>
	
	<!-- MDS DB - 예방접종내역 삭제 -->
	<delete id="delYebang" parameterType="String">
		DELETE
		FROM yebang
		WHERE
		pibCode = #{pibCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 	
 </mapper>