<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.cafe24.oneteammds.listmapper.YoungsangMapper">
 	
 	<!-- 병원 -->
 	
 	<!-- 병원DB1 - 영상검사결과 -->
 	
 	<!-- 병원 권한 로그인시 입력되는 ID값 받아서 영상검사결과 리스트  출력 처리 -->
 	<select	id="getYoungsanghList" 
 			resultType="com.cafe24.oneteammds.listvo.Youngsangh">
 		SELECT 
 			itrCode
 		  , hospitalId
 		  , patientId
 		  , itName
 		  , itCode
 		  , itrValue
 		  , pDoctor
 		  , itdTime
 		  , adminId
 		  , itrDate
		FROM 
			youngsangh
		WHERE
			hospitalId = #{session.SID}
 	</select>
 	
 	<!-- 병원DB - 영상검사결과 -> 영상검사결과 regist form -->
 	
 	<select id="getYoungsanghById"
 			parameterType="String"
 			resultType="com.cafe24.oneteammds.listvo.Youngsangh">
		SELECT 
 			itrCode
 		  , hospitalId
 		  , patientId
 		  , itName
 		  , itCode
 		  , itrValue
 		  , pDoctor
 		  , itdTime
 		  , adminId
 		  , itrDate
		FROM 
			youngsangh
		where
			patientId = #{patientId}
 	</select>
 	
 	<!-- 영상검사결과 regist complete -->
 	
 	<insert id="getYoungsangRegist"
 		    parameterType="com.cafe24.oneteammds.listvo.Youngsangh">
 	REPLACE INTO 
 			youngsang
		SELECT
			itrCode
 		  , hospitalId
 		  , patientId
 		  , itName
 		  , itCode
 		  , itrValue
 		  , pDoctor
 		  , itdTime
 		  , adminId
 		  , itrDate
		FROM 
			youngsangh
		WHERE 
			patientId = #{patientId}
	</insert>
	
	<!-- 영상검사결과 검색 -->
	<select id="getYoungsangSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Youngsang">
	  	SELECT
			 itrCode
			,hospitalId
			,patientId
			,itName
			,itCode
			,itrValue
			,pDoctor
			,itdTime
			,adminId
			,itrDate
		FROM
			 youngsangh
		WHERE 
			hospitalId = #{hospitalId}
		<if test="sv != null and sv neq ''.toString()">					
		and	${sk} Like CONCAT('%',#{sv},'%')		
		</if>
	
	</select>
	
	<!-- 시스템DB -->
	
	<!-- MDS DB - 영상검사결과 -->
	
	<select id="getYoungsangdbList"
			resultType="com.cafe24.oneteammds.listvo.Youngsang">
		SELECT 
 			itrCode
 		  , hospitalId
 		  , patientId
 		  , itName
 		  , itCode
 		  , itrValue
 		  , pDoctor
 		  , itdTime
 		  , adminId
 		  , itrDate
		FROM 
			youngsang
	</select>
	
	<!-- MDS DB - 영상검사결과 검색 -->
	<select id="getYoungsangdbSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.listvo.Youngsang">
	  	SELECT
			 itrCode
			,hospitalId
			,patientId
			,itName
			,itCode
			,itrValue
			,pDoctor
			,itdTime
			,adminId
			,itrDate
		FROM
			 youngsang
		<if test="sv != null and sv neq ''.toString()">	 
		WHERE 
			
							
			${sk} Like CONCAT('%',#{sv},'%')		
		</if>
	
	</select>
	
	<!-- MDS DB - 영상검사결과 삭제 -->
	<delete id="delYoungsang" parameterType="String">
		DELETE
		FROM youngsang
		WHERE
		itrCode = #{itrCode}
		and hospitalId = #{hospitalId}
		and patientId = #{patientId}
	</delete>
 	
 </mapper>