<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">1
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<h2 style="text-align:center">예방접종내역 등록</h2>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
	   	  <!-- Form Elements -->
        
        
    
       <div class="col-lg-12">
                <div class="block"></br>
                  <div class="block-body">
                    <form class="form-horizontal" action="/yebangComplete" method="post">
                      <div class="form-group row" >
                        <label class="col-sm-3 form-control-label">예방접종내역 코드</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="pibCode"
						th:value="${yebangh.pibCode}" readonly="readonly">
                        </div>
                      </div>
                      
                      <div class="form-group row" >
                        <label class="col-sm-3 form-control-label">병원 고유번호</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="hospitalId"
						th:value="${yebangh.hospitalId}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">환자 고유번호</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="patientId"
						th:value="${yebangh.patientId}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">예방접종명</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="piName"
						th:value="${yebangh.piName}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">예방접종코드</label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="piCode"
						th:value="${yebangh.piCode}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">백신명</label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="pivName"
						th:value="${yebangh.pivName}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">접종차수 </label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="piBalance"
						th:value="${yebangh.piBalance}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">담당의</label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="pDoctor"
						th:value="${yebangh.pDoctor}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">접종일자</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="piDate"
						th:value="${yebangh.piDate}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">등록자 고유번호</label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="adminId"
						th:value="${yebangh.adminId}" readonly="readonly">
                        </div>
                      </div>
                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">등록일자</label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="pirDate"
						th:value="${yebangh.pirDate}" readonly="readonly">
                        </div>
                      </div>
                      
                      
                      <div class="line"></div>
                      <div class="form-group row">
                        <div class="col-sm-9 ml-auto">
                          <button type="submit" class="btn btn-secondary" style="float: right;">등록</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          <!--************메인 컨텐트 END************ -->	
</th:block>
</html>