<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">1
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<h2 style="text-align:center">약물처방내역 리스트</h2>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
	   	  <!-- Form Elements -->
              <div class="col-lg-12">
                <div class="block">
                  
                  <div class="block-body">
                    <form action="/yakmuldbList" method="post">
		<select id="sk1" name="sk1"></br>
			<option value="hospitalId">병원고유번호</option>
			</select>	
			<input type="text" name="sv1"></br>
		<select id="sk2" name="sk2">		
			<option value="patientId">환자고유번호</option>			
		</select>		
		<input type="text" name="sv2"></br>
		<input type="date" name="start_date">~
     	<input type="date" name="finish_date">
		<button type="submit" class="btn btn-secondary">검색</button>
	</form>
                     <table class="table">
                      <thead>
	
		<tr>
			<th style="white-space:nowrap;">약물 처방내역 코드</th>
					        <th style="white-space:nowrap;">병원 고유번호</th>
					        <th style="white-space:nowrap;">환자 고유번호</th>
					        <th style="white-space:nowrap;">처방약품명</th>
					        <th style="white-space:nowrap;">처방약품코드</th>
					        <th style="white-space:nowrap;">주성분명</th>
					        <th style="white-space:nowrap;">주성분코드</th>
					        <th style="white-space:nowrap;">용량</th>
					        <th style="white-space:nowrap;">복용단위</th>
					        <th style="white-space:nowrap;">횟수</th>
					        <th style="white-space:nowrap;">투여기간</th>
					        <th style="white-space:nowrap;">용법</th>
					        <th style="white-space:nowrap;">담당의</th>
					        <th style="white-space:nowrap;">처방일시</th>
					        <th style="white-space:nowrap;">등록자 고유번호</th>
					        <th style="white-space:nowrap;">등록일자</th>
					        <th style="white-space:nowrap;">삭제</th>	
		</tr>
			</thead>
						<tbody>
		<tr th:each="list:${yakmuldbList}">
			<td th:text="${list.mbCode}"></td>
			<td th:text="${list.hospitalId}"></td>
			<td th:text="${list.patientId}"></td>
			<td th:text="${list.mmName}"></td>
			<td th:text="${list.mmCode}"></td>
			<td th:text="${list.miName}"></td>
			<td th:text="${list.miCode}"></td>
			<td th:text="${list.mVolume}"></td>
			<td th:text="${list.mdUnit}"></td>
			<td th:text="${list.mdNumber}"></td>
			<td th:text="${list.mPeriod}"></td>
			<td th:text="${list.mUsage}"></td>
			<td th:text="${list.pDoctor}"></td>
			<td th:text="${list.mdTime}"></td>
			<td th:text="${list.adminId}"></td>
			<td th:text="${list.mrDate}"></td>
			<td>								
									<a th:href="@{/delYakmul(mbCode=${list.mbCode})}">
										<button type="submit" class="btn btn-secondary" style="float: right;">삭제</button>
									</a>
								</td>
		</tr>
		
  </tbody>
                    </table>
                      <div class="line"></div>
                    </div>
                </div>
              </div>
            </div>
          <!--************메인 컨텐트 END************ -->	
</th:block>
</html>