<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 계정 오류로 인한 push -->
<mapper namespace="com.cafe24.oneteammds.mapper.AdminMapper">

	<!-- 1명의 관리자 권한 조회 쿼리문 -->
	<select id="getAdminLogin"
		parameterType="com.cafe24.oneteammds.vo.Admin"
		resultType="com.cafe24.oneteammds.vo.Admin">
		SELECT
		adminId AS a_id
		,adminPw AS a_pw
		,aName AS a_name
		,aBirth AS a_birth
		,aGender AS a_gender
		,aAddr AS a_addr
		,aPhone AS a_phone
		,aLevel AS a_level
		FROM
		admin
		WHERE
		adminId = #{a_id}
		and adminPw = #{a_pw}
	</select>

	<!-- 전체 관리자 권한 조회 쿼리문 -->
	<select id="getAdminList"
		resultType="com.cafe24.oneteammds.vo.Admin">
		SELECT
		adminId AS a_id
		,adminPw AS a_pw
		,aName AS a_name
		,aBirth AS a_birth
		,aGender AS a_gender
		,aAddr AS a_addr
		,aPhone AS a_phone
		,aLevel AS a_level
		FROM
		admin
	</select>

	<!-- 특정 관리자 검색 조건 조회 쿼리문 -->
	<select id="getAdminSearchList" parameterType="String"
		resultType="com.cafe24.oneteammds.vo.Admin">
		SELECT
		adminId AS a_id
		,adminPw AS a_pw
		,aName AS a_name
		,aBirth AS a_birth
		,aGender AS a_gender
		,aAddr AS a_addr
		,aPhone AS a_phone
		,aLevel AS a_level
		FROM
		admin
		<if test="sv != null and sv neq ''.toString()">
			WHERE
			${sk} Like CONCAT('%',#{sv},'%')
		</if>
	</select>

	<!-- 관리자 등록 쿼리문 -->
	<insert id="addAdmin"
		parameterType="com.cafe24.oneteammds.vo.Admin">
		INSERT INTO admin(
		adminId
		,adminPw
		,aName
		,aBirth
		,aGender
		,aAddr
		,aPhone
		,aLevel
		)VALUES(
		#{a_id}
		,#{a_pw}
		,#{a_name}
		,#{a_birth}
		,#{a_gender}
		,#{a_addr}
		,#{a_phone}
		,#{a_level}
		)
	</insert>

	<!-- 관리자 id를 통해 검색 쿼리문 -->
	<select id="getAdminById" parameterType="String"
		resultType="com.cafe24.oneteammds.vo.Admin">
		SELECT
		adminId AS a_id
		,adminPw AS a_pw
		,aName AS a_name
		,aBirth AS a_birth
		,aGender AS a_gender
		,aAddr AS a_addr
		,aPhone AS a_phone
		,aLevel AS a_level
		FROM
		admin
		WHERE
		adminId = #{a_id}
	</select>

	<!-- id를 통해 관리자 정보 수정 쿼리문 -->
	<update id="modifyAdmin"
		parameterType="com.cafe24.oneteammds.vo.Admin">
		UPDATE admin
		SET
		adminPw = #{a_pw}
		,aName = #{a_name}
		,aBirth = #{a_birth}
		,aGender = #{a_gender}
		,aAddr = #{a_addr}
		,aPhone = #{a_phone}
		,aLevel = #{a_level}
		WHERE
		adminId = #{a_id}
	</update>

	<!-- 관리자 정보 삭제 쿼리문 -->
	<delete id="delAdmin" parameterType="String">
		DELETE
		FROM admin
		WHERE
		adminId = #{a_id}
		and adminPw = #{a_pw}
	</delete>
</mapper>