<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 계정 오류로 인한 push -->
<mapper namespace="com.cafe24.oneteammds.mapper.HospitalMapper">
	<select id="getHospitalLogin"
		parameterType="com.cafe24.oneteammds.vo.Hospital" 
		resultType="com.cafe24.oneteammds.vo.Hospital">
		SELECT 
			 hospitalId AS h_id
			,hospitalPw AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
		WHERE
				hospitalId = #{h_id}
			and hospitalPw = #{h_pw}
	</select>
	
	<select id="getHospitalList" resultType="com.cafe24.oneteammds.vo.Hospital">
	  	SELECT 
			 hospitalId	AS h_id
			,hospitalPw	AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
	</select>
	
	<select id="getHospitalSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.vo.Hospital">
	  	SELECT 
			 hospitalId	AS h_id
			,hospitalPw	AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
		<if test="sv2 != null and sv2 neq ''.toString()">
			WHERE 
				${sk2} Like CONCAT('%',#{sv2},'%')		
		</if>
	</select>
	
	<insert id="addHospital" parameterType="com.cafe24.oneteammds.vo.Hospital">
		INSERT INTO hospital(
			 hospitalId
			,hospitalPw 
			,hName
			,admId
			,hrDate
		)VALUES(
			 #{h_id}
			,#{h_pw}
			,#{h_name}
			,#{a_id}
			,NOW()
		)
	</insert>
	
	<select id="getHospitalById" parameterType="String" 
			resultType="com.cafe24.oneteammds.vo.Hospital">
		SELECT 
			 hospitalId	AS h_id
			,hospitalPw	AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
		WHERE
			hospitalId = #{h_id}
	</select>
	<update id="modifyHospital" parameterType="com.cafe24.oneteammds.vo.Hospital">
		UPDATE hospital
		SET
			 hospitalPw = #{h_pw}
			,hName = #{h_name}
		WHERE 
			 hospitalId = #{h_id}
	</update>
	<delete id="delHospital" parameterType="String">
		DELETE 
		FROM hospital
		WHERE
				hospitalId = #{h_id}
			and hospitalPw = #{h_pw}
	</delete>
</mapper>