<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 계정 오류로 인한 push -->
<mapper namespace="com.cafe24.oneteammds.mapper.HospitalMapper">
	<!-- 병원 권한 로그인 쿼리문 -->
	<select id="getHospitalLogin"
		parameterType="com.cafe24.oneteammds.vo.Hospital" 
		resultType="com.cafe24.oneteammds.vo.Hospital">
		SELECT 
			 hospitalId AS h_id
			,hospitalPw AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
			,hLevel     AS h_level
		FROM 
			hospital
		WHERE
				hospitalId = #{h_id}
			and hospitalPw = #{h_pw}
	</select>
	<!-- 병원 권한 리스트 출력 쿼리문 -->
	<select id="getHospitalList" resultType="com.cafe24.oneteammds.vo.Hospital">
	  	SELECT 
			 hospitalId	AS h_id
			,hospitalPw	AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
	</select>
	<!-- 병원 권한 리스트 검색 쿼리문 -->
	<select id="getHospitalSearchList" parameterType="String" 
			resultType="com.cafe24.oneteammds.vo.Hospital">
	  	SELECT 
			 hospitalId	AS h_id
			,hospitalPw	AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
		<if test="sv2 != null and sv2 neq ''.toString()">
			WHERE 
				${sk2} Like CONCAT('%',#{sv2},'%')		
		</if>
	</select>
	<!-- 병원 권한 회원 등록 쿼리문 -->
	<insert id="addHospital" parameterType="com.cafe24.oneteammds.vo.Hospital">
		INSERT INTO hospital(
			 hospitalId
			,hospitalPw 
			,hName
			,hLevel
			,admId
			,hrDate
		)VALUES(
			 #{h_id}
			,#{h_pw}
			,#{h_name}
			,#{h_level}
			,#{a_id}
			,NOW()
		)
	</insert>
	<!-- 병원 권한 로그인 값 가져오는 쿼리문 -->
	<select id="getHospitalById" parameterType="String" 
			resultType="com.cafe24.oneteammds.vo.Hospital">
		SELECT 
			 hospitalId	AS h_id
			,hospitalPw	AS h_pw
			,hName		AS h_name
			,admId		AS a_id
			,hrDate		AS hr_date
		FROM 
			hospital
		WHERE
			hospitalId = #{h_id}
	</select>
	<!-- 병원 권한 회원 수정 쿼리문 -->
	<update id="modifyHospital" parameterType="com.cafe24.oneteammds.vo.Hospital">
		UPDATE hospital
		<trim prefix="SET" prefixOverrides=",">
			<if test="h_pw != null and h_pw neq ''.toString()">
			 	hospitalPw = #{h_pw}
			</if>
			
			<if test="h_name != null and h_name neq ''.toString()">
				,hName = #{h_name}
			</if>
		</trim>
		WHERE 
			 hospitalId = #{h_id}
	</update>
	<!-- 병원 권한 회원 삭제 쿼리문 -->
	<delete id="delHospital" parameterType="String">
		DELETE 
		FROM hospital
		WHERE
				hospitalId = #{h_id}
			and hospitalPw = #{h_pw}
	</delete>
</mapper>