<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 계정 오류로 인한 push -->
<mapper namespace="com.cafe24.oneteammds.mapper.PatientMapper">

	<!-- 환자 권한 로그인 쿼리문 -->
	<select id="getPatientLogin"
		parameterType="com.cafe24.oneteammds.vo.Patient" 
		resultType="com.cafe24.oneteammds.vo.Patient">
		SELECT 
			 patientId	AS p_id
			,patientPw	AS p_pw
			,hospitalId	AS h_id
			,pName		AS p_name
			,pGender	AS p_gender
			,pBirth		AS p_birth
			,pPhone		AS p_phone
			,pAddr		AS p_addr
			,gName		AS g_name
			,gPhone		AS g_phone
			,pLevel		AS p_level
			,adminId	AS a_id
			,prDate		AS pr_date
		FROM 
			patient
		WHERE
				patientId = #{p_id}
			and patientPw = #{p_pw}
	</select>
	
	<!-- 환자 권한 로그인 값 가져오는 쿼리문 -->
	<select id="getPatientById" parameterType="String" 
			resultType="com.cafe24.oneteammds.vo.Patient">
		SELECT 
			 patientId	AS p_id
			,patientPw	AS p_pw
			,hospitalId	AS h_id
			,pName		AS p_name
			,pGender	AS p_gender
			,pBirth		AS p_birth
			,pPhone		AS p_phone
			,pAddr		AS p_addr
			,gName		AS g_name
			,gPhone		AS g_phone
			,adminId	AS a_id
			,prDate		AS pr_date
		FROM 
			patient
		WHERE
				patientId = #{p_id}
	</select>
	
	<!-- 환자 권한 리스트 출력 쿼리문 -->
	<select id="getPatientList"
		resultType="com.cafe24.oneteammds.vo.Patient">
		SELECT 
			 patientId	AS p_id
			,patientPw	AS p_pw
			,hospitalId	AS h_id
			,pName		AS p_name
			,pGender	AS p_gender
			,pBirth		AS p_birth
			,pPhone		AS p_phone
			,pAddr		AS p_addr
			,gName		AS g_name
			,gPhone		AS g_phone
			,pLevel		AS p_level
			,adminId	AS a_id
			,prDate		AS pr_date
		FROM 
			patient
	</select>
	
	<!-- 환자 권한 리스트 검색 쿼리문 -->
	<select id="getPatientSearchList"
		parameterType="String" 
		resultType="com.cafe24.oneteammds.vo.Patient">
		SELECT 
			 patientId	AS p_id
			,patientPw	AS p_pw
			,hospitalId	AS h_id
			,pName		AS p_name
			,pGender	AS p_gender
			,pBirth		AS p_birth
			,pPhone		AS p_phone
			,pAddr		AS p_addr
			,gName		AS g_name
			,gPhone		AS g_phone
			,pLevel		AS p_level
			,adminId	AS a_id
			,prDate		AS pr_date
		FROM 
			patient
		<if test="sv3 != null and sv3 neq ''.toString()">
		WHERE
			${sk3} Like CONCAT('%',#{sv3},'%')
		</if>
	</select>
	
	<!-- 환자 권한 회원등록 쿼리문 -->
	<insert id="addPatient"
		parameterType="com.cafe24.oneteammds.vo.Patient">
		INSERT INTO patient( 
			 patientId
			,patientPw
			,hospitalId
			,pName
			,pGender
			,pBirth
			,pPhone
			,pAddr
			,gName
			,gPhone
			,pLevel
			,adminId
			,prDate
		)VALUES( 
			 #{p_id}
			,#{p_pw}
			,#{h_id}
			,#{p_name}
			,#{p_gender}
			,#{p_birth}
			,#{p_phone}
			,#{p_addr}
			,#{g_name}
			,#{g_phone}
			,#{p_level}
			,#{a_id}
			,NOW()
		)
	</insert>
	
	<!-- 환자 권한 회원 수정 쿼리문 -->
	<update id="modifyPatient"
		parameterType="com.cafe24.oneteammds.vo.Patient">
		UPDATE patient
		<trim prefix="SET" prefixOverrides=",">
		
			<if test="p_pw != null and p_pw neq ''.toString()">
			 	patientPw	= #{p_pw}
			</if>
			
			<if test="p_name != null and p_name neq ''.toString()">
				,pName		= #{p_name}
			</if>
			
			<if test="p_gender != null and p_gender neq ''.toString()">
				,pGender	= #{p_gender}
			</if>
			
			<if test="p_birth != null and p_birth neq ''.toString()">
				,pBirth		= #{p_birth}
			</if>
			
			<if test="p_phone != null and p_phone neq ''.toString()">
				,pPhone		= #{p_phone}
			</if>
			
			<if test="p_addr != null and p_addr neq ''.toString()">
				,pAddr		= #{p_addr}
			</if>
			
			<if test="g_name != null and g_name neq ''.toString()">
				,gName		= #{g_name}
			</if>
			
			<if test="g_phone != null and g_phone neq ''.toString()">
				,gPhone		= #{g_phone}
			</if>
			
			<if test="p_level != null and p_level neq ''.toString()">
				,pLevel		= #{p_level}
			</if>
		</trim>
			WHERE
				patientId	= #{p_id}
	</update>

	<!-- 환자 권한 회원 삭제 쿼리문 -->
	<delete id="delPatient"
		parameterType="com.cafe24.oneteammds.vo.Patient" >
		DELETE
		FROM patient 
		WHERE
				 patientId	= #{p_id}
			and  patientPw	= #{p_pw}
	</delete>
</mapper>