<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<h2 style="text-align:center">기능검사결과 리스트</h2>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
	   	  <!-- Form Elements -->
              <div class="col-lg-12">
                <div class="block">
                  
                  <div class="block-body">
                    
                     <table class="table">
                      <thead>
		<tr>
			<th style="white-space:nowrap;">기능검사결과 코드</th>
							<th style="white-space:nowrap;">병원고유번호</th>
							<th style="white-space:nowrap;">환자고유번호</th>
							<th style="white-space:nowrap;">검사명</th>
							<th style="white-space:nowrap;">검사코드</th>
							<th style="white-space:nowrap;">검사결과값</th>
							<th style="white-space:nowrap;">담당의</th>
							<th style="white-space:nowrap;">검사일시</th>
							<th style="white-space:nowrap;">등록자 고유번호</th>
							<th style="white-space:nowrap;">등록일자</th>
			
		</tr>
		</thead>
						<tbody>
		<tr th:each="list:${ginuengdbDesc}">
			<td th:text="${list.ftrCode}"></td>
			<td th:text="${list.hospitalId}"></td>
			<td th:text="${list.patientId}"></td>
			<td th:text="${list.ftName}"></td>
			<td th:text="${list.ftCode}"></td>
			<td th:text="${list.ftrValue}"></td>
			<td th:text="${list.pDoctor}"></td>
			<td th:text="${list.ftdTime}"></td>
			<td th:text="${list.adminId}"></td>
			<td th:text="${list.ftrDate}"></td>
		</tr>
		
	  </tbody>
                    </table>
                      <div class="line"></div>
                    </div>
                </div>
              </div>
            </div>
          <!--************메인 컨텐트 END************ -->	
</th:block>
</html>