<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper namespace 설정 -->  
<mapper namespace="com.cafe24.oneteammds.susinmapper.SusinAdminMapper">
	
	<!-- select 쿼리문 입력, resultType 설정 -->
	<select	id="getsusinAdminYochengList" 
 			resultType="com.cafe24.oneteammds.susinvo.SusinAdmin">
	
		SELECT 
			susinCode, hospitalId, hospitalName, patientId, patientName, susinJinlyoCode, susinDate, susinSayu
		FROM 
			susinAdminList 
		WHERE susinCode = #{susinCode}
	
	</select>

</mapper>