<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

<th:block layout:fragment="customContents">
	<div class="page-content">
	 <!-- **************윗상단 메인 메뉴 ************** -->
		<div class="page-header">
		<h2 style="text-align:center">생체신호 및 상태 리스트</h2>
			<div class="container-fluid"></div>
	<!-- **************윗상단 메인 메뉴END ************** -->
	<!--************메인 컨텐트 ************ -->		
	   	</div>
	   	  <!-- Form Elements -->
              <div class="col-lg-12">
                <div class="block">
                  
                  <div class="block-body">
                    <form action="/saengchaehList" method="post">
		<select name="sk">
			<option value="hospitalId">병원 고유번호</option>
			<option value="patientId">환자고유번호</option>
			<option value="vscCheck">측정일자</option>										
		</select>
		<input type="text" name="sv">
		<input type="hidden" name="hospitalId" th:value="${param?.hospitalId?.toString()}">
		<button type="submit" class="btn btn-secondary">검색</button>
	</form>
                     <table class="table">
                      <thead>
		<tr>
			 <th style="white-space:nowrap;">생체신호 및 상태 코드</th>
							<th style="white-space:nowrap;">병원고유번호</th>
							<th style="white-space:nowrap;">환자고유번호</th>
							<th style="white-space:nowrap;">키</th>
							<th style="white-space:nowrap;">몸무게</th>
							<th style="white-space:nowrap;">혈압(확장기)</th>
							<th style="white-space:nowrap;">혈압(수축기)</th>
							<th style="white-space:nowrap;">체온</th>
							<th style="white-space:nowrap;">담당의</th>
							<th style="white-space:nowrap;">측정일자</th>
							<th style="white-space:nowrap;">등록자 고유번호</th>
							<th style="white-space:nowrap;">등록일자</th>
							<th style="white-space:nowrap;">삭제</th>	
			
		</tr>
		</thead>
						<tbody>
		<tr th:each="list:${saengchaedbList}">
			<td th:text="${list.vscCode}"></td>
			<td th:text="${list.hospitalId}"></td>
			<td th:text="${list.patientId}"></td>
			<td th:text="${list.vscHeight}"></td>
			<td th:text="${list.vscWeight }"></td>
			<td th:text="${list.bpMin}"></td>
			<td th:text="${list.bpMax}"></td>
			<td th:text="${list.bheat}"></td>
			<td th:text="${list.pDoctor}"></td>
			<td th:text="${list.vscCheck}"></td>
			<td th:text="${list.adminId}"></td>
			<td th:text="${list.vscrDate}"></td>
			<td>								
									<a th:href="@{/delSaengchae(vscCode=${list.vscCode})}">
										<button type="submit" class="btn btn-secondary" style="float: right;">삭제</button>
									</a>
								</td>
		</tr>
		
	 </tbody>
                    </table>
                      <div class="line"></div>
                    </div>
                </div>
              </div>
            </div>
          <!--************메인 컨텐트 END************ -->	
</th:block>
</html>