<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layout/default}">

	<th:block layout:fragment="customContents">
		<div class="page-content">
		 <!-- **************윗상단 메인 메뉴 ************** -->
			<div class="page-header">
				<h2 style="text-align:center">HOME</h2>
				<div class="container-fluid"></div>
		<!-- **************윗상단 메인 메뉴END ************** -->
		<!--************메인 컨텐트 ************ -->		
				안녕하세요. 개발자 32기 ㅇㅇㅇ 입니다.
	    <!--************메인 컨텐트 END************ -->	
	    	</div>
	    </div>
	</th:block>
</html>